/* General Styles */
body {
  background-color: #fffcf9;
  color: #241200;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
  flex: 1;
}

/* Typography */

body {
  font-family: "Times New Roman", Times, serif;
}

.logo {
  font-size: 64px;
  color: #241200;
}

/* Header */

.header {
  /* border: 2px solid red; */
  padding-top: 16px;
  animation: 2.5s ease-out 0s 1 slideInFromTop;
}
.logo {
  text-align: center;
  text-transform: uppercase;
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

/* Gif */

.gif-container {
  margin-top: 32px;
  text-align: center;
}

.gif {
  width: 500px;
  max-width: 500px;
  height: auto;
  animation-name: gif;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 6s;
  border: 7px #9a6d38 double;
}

@keyframes gif {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* Recipes */

.recipes-wrapper {
  margin-top: 32px;
}

.recipes-title {
  font-size: 32px;
  font-weight: 800;
  color: black;
  text-align: center;
  text-transform: uppercase;
  animation-name: fading;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 6s;
  animation-delay: 5s;
  opacity: 0;
  animation-fill-mode: forwards;
  color: #25171a;
}
@keyframes fading {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
.recipes-container {
  margin-top: 48px;
  display: flex;
  justify-content: space-around;
}

.single-recipe {
  width: 400px;
  display: flex;
  justify-content: center;
  border: 2px solid red;
}

.img {
  width: 100%;
  max-width: 100%;
  vertical-align: bottom;
}

.meatball-container {
  animation: 3s ease-out 0s 1 slidFromRight;
  animation-delay: 3s;
  opacity: 0;
  animation-fill-mode: forwards;
}

@keyframes slidFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

.egg-recipe-container {
  animation: 3s ease-out 0s 1 slidFromLeft;
  animation-delay: 3s;
  opacity: 0;
  animation-fill-mode: forwards;
}

@keyframes slidFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

.single-recipe {
  cursor: pointer;
  position: relative;
}
.recipe-text {
  display: none;
  position: absolute;
  left: 0px;
  top: 0px;
}

.single-recipe:hover .recipe-text {
  display: block;
}

.recipe-title {
  font-size: 20px;
  color: white;
  padding: 16px;
  text-decoration: underline;
}

.recipe-info {
  color: white;
  font-size: 14px;
  padding: 16px;
  line-height: 1.5;
}
/* Underline */
.underline--magical {
  background-image: linear-gradient(120deg, #f084fa 0%, #8fd3f4 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 88%;
  transition: background-size 0.25s ease-in;
}

.underline--magical:hover {
  background-size: 100% 88%;
}

/* Footer */
footer {
  padding-top: 16px;
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: 2.5s ease-out 0s 1 logo_animation;
  animation-delay: 5s;
  opacity: 0;
  animation-fill-mode: forwards;
  background: black;
  color: white;
}
.owner {
  font-size: 14px;
}
.odin-logo {
  padding-top: 8px;
  display: flex;
  align-items: center;
}
.logo-text {
  color: #cc9543;
  text-transform: uppercase;
  font-family: "Norse";
  letter-spacing: 0.4px;
  font-weight: bold;
  font-size: 1.6em;
  display: inline-block;
  padding-left: 0.5em;
}

@keyframes logo_animation {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
